<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="com.fire.myreivces">


 <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
 <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
 <uses-permission android:name="android.permission.INTERNET"/>
 <application
  android:allowBackup="true"
  android:icon="@mipmap/ic_launcher"
  android:label="@string/app_name"

  android:supportsRtl="true"
  android:resizeableActivity="true"
  android:maxAspectRatio="2.4"
  android:name=".BaseApplication"
  android:theme="@style/AppTheme">
  <activity android:name=".ui.home.splash.SplashActivity"
      android:theme="@style/splash">
   <intent-filter>
    <action android:name="android.intent.action.MAIN" />

    <category android:name="android.intent.category.LAUNCHER" />
   </intent-filter>
  </activity>
  <meta-data
   android:name="android.max_aspect"
   android:value="2.4" />
  <!--适配华为（huawei）刘海屏-->
  <meta-data
   android:name="android.notch_support"
   android:value="true"/>
  <!--适配小米（xiaomi）刘海屏-->
  <meta-data
   android:name="notch.config"
   android:value="portrait|landscape" />
  <activity android:name=".ui.home.MainActivity"/>
  <activity android:name=".view.ViewGroupActivity"/>
  <activity android:name=".ui.messenger.MessengerActivity"/>
  <activity android:name=".ui.save.SaveActivity"/>
  <activity android:name="com.fire.myreivces.ui.algorithm.ALGActivity"/>
  <activity android:name="com.fire.myreivces.ui.datastore.DataStoreActvity"/>
  <activity android:name="com.fire.myreivces.ui.coroutines.CoroutinesActivity"/>
  <activity android:name="com.fire.myreivces.ui.lifecycle.LifecycActivity"/>
  <activity android:name=".ui.designMod.DesignModeActivity"/>
  <activity android:name=".ui.compose.ComposeUIActivity"/>


  <!--service -->
  <service android:name=".ui.messenger.MyMessengerService" android:process=":remote"/>
 </application>

</manifest>